doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript', src='/javascripts/jquery-1.8.3.js')
    script(type='text/javascript', src='/javascripts/javascript.js')
  body
    header
        h1.logo Some Restaurant Somewhere, CA
        nav
          ul.nav
            li.homenav(href='#') What's new?
            li.menunav(href='#') Menu
            li.staffnav(href='#') Staff
            li.locatenav(href='#') Locate
    div#slider
          div#inner
            #icatcher1.slidert
              .slidercont
            #icatcher2.slidert
              .slidercont
            #icatcher3.slidert
              .slidercont
    div.container
      section.home.content
      section.menu.content
      section.staff.content
      section.locate.content
      footer
        form.signup
          h1 Sign Up for The Deals and coupons!
          p
            label(for="signupname") Name:
            input.signupin(type="text", name="name", placeholder="What shall we call you?", required)
          p
            label(for="signupemail") Email:
            input.signupin(type="email", name="email", placeholder="e.g. bananas@gmail.com", required)
          p
            input.button(type="submit", value="Sign up!")
        section.twitter
          ul.tweets
            h1 Restaurant's LIVE Twitter Feed!
            div.empty
      p.copy Somewhere Restaurant - Somewhere, CA - Copyright 2012 - Mr. Big Corp.
    div.bottom
      h1 Specials!
      div.ad
      div.ad
      div.ad